body {
    margin-top: 5%;
    background-image: url(../recursos/img/Rainbow-Vortex.svg);
}

footer {
    margin-top: 5%;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    background-color: white;
    border: 1px solid black;
}